html, body {
		height: 100%;
}

body {
		background-color: #000000;
		margin: 0;
		font-family: Helvetica, sans-serif;;
		overflow: hidden;
}

a {
		color: #ffffff;
}

.banner {
		position: absolute;
		top: 20px;
    width: 100%;
		color: #ffffff;
		padding: 10px;
		font-size: 40px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
		text-align: center;
		z-index: 10;
}

.bonus {
		position: absolute;
		top: 60px;
    width: 100%;
		color: #ffffff;
		padding: 10px;
		font-size: 32px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
		text-align: center;
		z-index: 10;
}

.title {
		position: absolute;
		bottom: 60px;
    width: 100%;
		color: #ffffff;
		padding: 10px;
		font-size: 32px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
		text-align: center;
		z-index: 10;
}

#menu {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
}

.tile {
		width: 640px;
		height: 480px;
    top: 0px;
    left: 0px;
		box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
		border: 1px solid rgba(127,255,255,0.25);
		background-color: rgba(0,127,127,0.5);
		text-align: center;
		cursor: default;
}

.tile:hover {
		box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
		border: 1px solid rgba(127,255,255,0.75);
}

.tile .name {
		position: absolute;
		top: 10px;
		left: 20px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.tile .score {
		position: absolute;
		top: 40px;
		right: 20px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.tile .number {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 12px;
		color: rgba(127,255,255,0.75);
}

.tile .details {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: rgba(127,255,255,0.75);
}

.ballot {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 480px;
    height: 80px;
		box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
		border: 1px solid rgba(127,255,255,0.25);
		background-color: rgba(0,127,127,0.5);
    text-align: center;
    visibility: visible;
}

.ballot img {
    height: 60px;
		background-color: rgba(0,127,127,0.0);
    padding: 10px;
}

.history {
    position: absolute;
    top: 280px;
    left: 0px;
    width: 480px;
    height: 50px;
		box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
		border: 1px solid rgba(127,255,255,0.25);
		background-color: rgba(0,127,127,0.5);
    visibility: hidden;
}

.history .icon {
    height: 40px;
    padding: 5px;
}

button {
		color: rgba(127,255,255,0.75);
		background: transparent;
		outline: 1px solid rgba(127,255,255,0.75);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
}

button:hover {
		background-color: rgba(0,255,255,0.5);
}

button:active {
		color: #000000;
		background-color: rgba(0,255,255,0.75);
}
