html, body {
		height: 100%;
}

body {
		background-color: #000000;
		margin: 0;
		font-family: Helvetica, sans-serif;;
		overflow: hidden;
}

a {
		color: #ffffff;
}

h1 {
		color: #ffffff;
		padding: 15px;
		font-size: 64px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
		text-align: center;
		z-index: 1;
}
h2 {
		color: #ffffff;
		padding: 10px;
		font-size: 48px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 5px rgba(0,255,255,0.5);
		text-align: center;
		z-index: 1;
}

h3 {
		color: #ffffff;
    margin: 10px;
		padding: 0px;
		font-size: 32px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 2px rgba(0,255,255,0.5);
		text-align: center;
		z-index: 1;
}

ol {
    margin: 10px;
}

ul {
    margin: 10px;
}

.message {
    position: absolute;
    width: 90%;
    top: 30%;
    left: 5%;
    right: 5%;
		font-size: 64px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-align: center;
}

#menu {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
}

.slide {
    position: absolute;
		width: 90%;
		height: 85%;
    top: 5%;
    bottom: 10%;
    left: 5%;
    right: 5%;
		box-shadow: 0px 0px 12px rgba(127,255,255,0.5);
		border: 1px solid rgba(127,255,127,0.25);
		background-color: rgba(0,196,127,0.5);
		text-align: center;
		cursor: default;
    visibility: hidden;
}

.slide:hover {
		box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
		border: 1px solid rgba(127,255,255,0.75);
}

.slide .heading {
		font-size: 64px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-align: center;
}

.slide .details {
		font-size: 38px;
		color: rgba(255,255,255,0.75);
		text-align: left;
    margin: 5%;
}

.slide .list {
    left: 10%;
}

.slide .step {
		left: 100px;
		font-size: 38px;
		color: rgba(255,255,255,0.75);
		text-align: left;
    visibility: hidden;
}

.slide .step li {
		padding: 5px;
		font-size: 32px;
		color: rgba(255,255,255,0.75);
		text-align: left;
}

.slide .highlighted {
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.slide .annotation {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 12px;
		color: rgba(127,255,255,0.75);
}

.slide .number {
		position: absolute;
		bottom: 15px;
 		font-size: 12px;
		color: rgba(127,255,255,0.75);
}

.ballot {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 480px;
    height: 80px;
		box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
		border: 1px solid rgba(127,255,255,0.25);
		background-color: rgba(0,127,127,0.5);
    text-align: center;
    visibility: visible;
}

.ballot img {
    height: 60px;
		background-color: rgba(0,127,127,0.0);
    padding: 10px;
}

.history {
    position: absolute;
    top: 280px;
    left: 0px;
    width: 480px;
    height: 50px;
		box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
		border: 1px solid rgba(127,255,255,0.25);
		background-color: rgba(0,127,127,0.5);
    visibility: hidden;
}

.history .icon {
    height: 40px;
    padding: 5px;
}

button {
		color: rgba(127,255,255,0.75);
		background: transparent;
		outline: 1px solid rgba(127,255,255,0.75);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
}

button:hover {
		background-color: rgba(0,255,255,0.5);
}

button:active {
		color: #000000;
		background-color: rgba(0,255,255,0.75);
}
